@use "includes/variables" as *;
@use "includes/navbar";
@use "includes/banner";
@use "includes/portfolio";
@use "includes/about";
@use "includes/contact";

* {
    background: $background-color;
    color: $primary-font-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web-container {
    padding-left: 7%;
    padding-right: 7%;
}

.footer {
    background: #3B3636;
    padding: 2rem;

    .footer__socials {
        background: #3B3636;
        display: flex;
        justify-content: center;

        .footer__socials-icon {
            background: #453F3F;
            padding: 1rem;
            margin: 0.3rem;
            border-radius: 50%;
            color: #D9BEA5;
        }
    }
}

