@use "includes/variables" as *;
@use "includes/navbar";
@use "includes/banner";
@use "includes/portfolio";
@use "includes/about";
@use "includes/contact";
@use "includes/footer";

* {
    background: $background-color;
    color: $primary-font-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web-container {
    padding-left: 7%;
    padding-right: 7%;
}


