@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;700&family=Inter:wght@200;400&display=swap");
.navbar {
  padding: 5% 7% !important;
  font-family: "Cormorant", serif;
}
.navbar .navbar__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Cormorant", serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar .navbar__logo-color-split {
  color: #D9BEA5;
}
.navbar .navbar-nav .nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}
.navbar .navbar__toggle-button {
  position: relative;
  top: -4px;
}
.navbar .navbar__toggle-button .navbar__toggle-button-top {
  background: #fff;
  height: 1px;
  width: 25px;
}
.navbar .navbar__toggle-button .navbar__toggle-button-bottom {
  background: #fff;
  height: 1px;
  width: 20px;
  position: relative;
  top: 7px;
}

.banner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.banner .banner__title {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
}
.banner .banner__seperator {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #D9BEA5;
  background: #D9BEA5;
  width: 8rem;
  height: 5px;
}
.banner .banner__paragraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
}

.portfolio {
  padding-top: 2rem;
  padding-bottom: rem;
}
.portfolio .portfolio__title {
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
}
.portfolio .fa-arrow-turn-down {
  font-size: 1.2rem;
  padding: 0.7rem;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-image {
  width: 100%;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-icons {
  float: right;
  position: relative;
  top: -7px;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-icon {
  background: #3C3636;
  border-radius: 50%;
  padding: 0.7rem;
}
.portfolio .portfolio__project-container .portfolio__project .portolio__project-seperator {
  color: #D9BEA5;
  width: 5rem;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-tags {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-tags .portfolio__project-tag-name {
  display: inline;
  background: #3C3636;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  padding: 0.3rem 1rem;
}
@media screen and (min-width: 768px) {
  .portfolio .portfolio__project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
}

.about {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about .about__container .about__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
}
.about .about__container .about__seperator {
  color: #D9BEA5;
  background: #D9BEA5;
  width: 3rem;
  margin-bottom: 3rem;
}
.about .about__container .about__image {
  width: 100%;
}
.about .about__container .about__text-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 200;
}
.about .about__container .about__sub-title {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.about .about__container .about__list {
  background: none !important;
  border: none !important;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: "Inter", sans-serif !important;
  font-style: normal !important;
  font-weight: 200 !important;
  font-size: 0.8rem !important;
}
.about .about__container .about__list .about__list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem !important;
  font-weight: 200 !important;
}
.about .about__container .about__list .about__list-button {
  padding: 0 !important;
}
.about .about__container .about__section-seperator {
  background: #fff;
}
@media screen and (min-width: 768px) {
  .about .about__container {
    padding: 3% 10%;
    display: grid;
    grid-template-areas: "title image" "text image" "experience interests";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem 100% 100%;
    gap: 2.5rem;
  }
  .about .about__container .about__title-wrapper {
    grid-area: title;
  }
  .about .about__container .about__image {
    grid-area: image;
    padding: inherit;
  }
  .about .about__container .about__text-wrapper {
    grid-area: text;
    padding-top: 0;
    padding-bottom: 0;
  }
  .about .about__container .about__seperator {
    margin-bottom: 0;
  }
  .about .about__container .about__experience {
    grid-area: experience;
  }
  .about .about__container .about__interests {
    grid-area: interests;
  }
}

.contact {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.contact .contact__header {
  font-family: "Cormorant", serif;
  font-size: 5rem;
}
.contact .contact__button {
  padding: 1rem 5rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  border: 1px solid #D9BEA5;
}

* {
  background: #2C2A2A;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.web-container {
  padding-left: 7%;
  padding-right: 7%;
}

.footer {
  background: #3B3636;
  padding: 2rem;
}
.footer .footer__socials {
  background: #3B3636;
  display: flex;
  justify-content: center;
}
.footer .footer__socials .footer__socials-icon {
  background: #453F3F;
  padding: 1rem;
  margin: 0.3rem;
  border-radius: 50%;
  color: #D9BEA5;
}