@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter:wght@200;400&display=swap");
.navbar {
  padding: 5% 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar__logo {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar .navbar__logo-color-split {
  color: #D9BEA5;
}
.navbar .navbar__toggle-button {
  position: relative;
  top: -4px;
}
.navbar .navbar__toggle-button .navbar__toggle-button-top {
  background: #fff;
  height: 1px;
  width: 25px;
}
.navbar .navbar__toggle-button .navbar__toggle-button-bottom {
  background: #fff;
  height: 1px;
  width: 20px;
  position: relative;
  top: 7px;
}

.about {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
}
.about .about__title {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
}
.about .about__seperator {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #D9BEA5;
  background: #D9BEA5;
  width: 8rem;
  height: 5px;
}
.about .about__paragraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
}

* {
  background: #2C2A2A;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 7%;
  padding-right: 7%;
}