@use "includes/navbar";

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');

$background-color: #272643;

$primary-font: 'Cormorant', serif;

* {
    background: $background-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
