@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;700&family=Inter:wght@200;400&display=swap");
.navbar {
  padding: 5% 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar__logo {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar .navbar__logo-color-split {
  color: #D9BEA5;
}
.navbar .navbar__toggle-button {
  position: relative;
  top: -4px;
}
.navbar .navbar__toggle-button .navbar__toggle-button-top {
  background: #fff;
  height: 1px;
  width: 25px;
}
.navbar .navbar__toggle-button .navbar__toggle-button-bottom {
  background: #fff;
  height: 1px;
  width: 20px;
  position: relative;
  top: 7px;
}

.about {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about .about__title {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
}
.about .about__seperator {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #D9BEA5;
  background: #D9BEA5;
  width: 8rem;
  height: 5px;
}
.about .about__paragraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
}

.portfolio {
  padding-top: 2rem;
  padding-bottom: rem;
}
.portfolio .portfolio__title {
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
}
.portfolio .fa-arrow-turn-down {
  font-size: 1.2rem;
  padding: 0.7rem;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-image {
  width: 100%;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-icons {
  float: right;
  position: relative;
  top: -7px;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-icon {
  background: #3C3636;
  border-radius: 50%;
  padding: 0.7rem;
}
.portfolio .portfolio__project-container .portfolio__project .portolio__project-seperator {
  color: #D9BEA5;
  width: 5rem;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-tags {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.portfolio .portfolio__project-container .portfolio__project .portfolio__project-tags .portfolio__project-tag-name {
  display: inline;
  background: #3C3636;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  padding: 0.3rem 1rem;
}
@media screen and (min-width: 768px) {
  .portfolio .portfolio__project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
}

* {
  background: #2C2A2A;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 7%;
  padding-right: 7%;
}