@use "variables" as *;

.about {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .about__container {

        .about__title {
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-transform: uppercase;
            font-family: $primary-font;
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
        }
    
        .about-seperator {
            color: $seperator-color;
            width: 3rem;
            margin-bottom: 3rem;
        }

        .about__image {
            width: 100%;
        }

        .about__text-wrapper {
            padding-top: 3rem;
            padding-bottom: 3rem;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 200;
        }
    }

    @media screen and (min-width: 768px) {
        .about__container {
            padding-top: 3rem;
            padding-bottom: 3rem;
            display: grid;
            grid-template-areas:
                "title title image"
                "text text image";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 6rem 100%;
            gap: 2.5rem;

            .about__title-wrapper {
                grid-area: title;
            }

            .about__image {
                grid-area: image;
            }

            .about__text-wrapper {
                grid-area: text;
                padding-top: 0;
                padding-bottom: 0;
            }

            .about-seperator {
                margin-bottom: 0;
            }

        }
    }
}