@use "variables" as *;

.about {

    padding-top: 2rem;
    padding-bottom: 2rem;
    color: $primary-font-color;

    .about__title {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
    }

    .about__seperator {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: $seperator-color;
        background: $seperator-color;
        width: 8rem;
        height: 5px;
    }

    .about__paragraph {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 200;
        font-size: 1rem;
    }
}