@use "variables" as *;

.banner {

    padding-top: 2rem;
    padding-bottom: 2rem;

    .banner__title {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
    }

    .banner__seperator {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: $seperator-color;
        background: $seperator-color;
        width: 8rem;
        height: 5px;
    }

    .banner__paragraph {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 200;
        font-size: 1rem;
    }

    @media screen and (min-width: 768px) {
        .banner__title {
            font-size: 6rem;
        } 

        .banner__paragraph {
            width: 50%;
        }
    }
}