@use "variables" as *;

.navbar {
    padding: 5% 7% !important;
    font-family: $primary-font;

    .navbar__logo {
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
        font-family: $primary-font;
        color: $primary-font-color;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .navbar__logo-color-split {
        color: #D9BEA5;
    }

    .navbar-nav {
        .nav-item {

            padding-left: 1rem;
            padding-right: 1rem;

            .nav-link {
                color: $primary-font-color;
                font-family: $secondary-font;
                font-size: 1rem;
                letter-spacing: 1px;
            }

            .nav-link:hover {
                color: #D9BEA5;
            }
        }
    }

    .navbar__toggle-button {

        position: relative;
        top: -4px;

        .navbar__toggle-button-top {
            background: #fff;
            height: 1px;
            width: 25px;
        }

        .navbar__toggle-button-bottom {
            background: #fff;
            height: 1px;
            width: 20px;
            position: relative;
            top: 7px;
        }
    }

    @media screen and (min-width: 768px) {
        .navbar__logo {
            font-size: 2rem;
        }
    }
}