@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter:wght@200;400&display=swap');

$background-color: #2C2A2A;

$primary-font: 'Cormorant', serif;
$secondary-font: 'Inter', sans-serif;


$primary-font-color: #fff;

$seperator-color: #D9BEA5;